<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Spread your students</title>

<style>
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
</style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container mb-3" style="padding-top:100px;padding-bottom:10px">
        <div class="row justify-content-center">
            <h1>Grouping your students</h1>
        </div>
    </div>
    <div class="container mb-3">
        <div class="row">
            <p>
                You are a teacher, you would like to group your students in multiple groups with the same average mark. Here is a tool for you : this genetic algorithm will be a great solution.
            </p>
            <p>
                The mark should be a decimal number and the name of the student should not contain any special characters.
            </p>
        </div>
        <div class="row">
            <p>
                Here are some examples of syntax for the name :
            </p>
            <ul>
                <li>student_*</li>
                <li>student-*</li>
                <li>Name Lastname</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p>
                <span class="text-warning">Be aware that the algorithm can take times ( from 30 persons ).</span> To avoid this situation you can decrease the
                number of  <a href="#" data-toggle="tooltip" title="Learn more about it downside the web page."> generation</a>.
                You can stop at the 130th generation, you will steal have great results.
            </p>
        </div>
    </div>
    <div class="container mt-3 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="prenom">Name :</label>
                                <input type="text" class="form-control" id="prenom" required>
                            </div>
                            <div class="form-group">
                                <label for="note">Mark :</label>
                                <input type="number" class="form-control" id="note" required>
                            </div>
                            <button id="addStudent"  onclick="addTab()" class="btn btn-primary" >Add</button>

                        </div>
                        <div class="col-md-8">
                            <table id="myTable" class="table">
                                <thead>
                                    <tr >
                                        <th style="width: 40%">Name</th>
                                        <th style="width: 40%">Mark</th>
                                        <th style="width: 20%"></th>
                                    </tr>
                                </thead>
                                <tbody id="ajoute">
                                </tbody>
                            </table>
                            <div class="container">
                                <div id="buttonTab" class="d-flex flex-row-reverse">
                                    <button id='page_0' type='button' onclick='showPage(0)' class='p-2 btn btn-primary'>1</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex " style="margin-top:10px;">

                        <div class="col-md-3 align-self-center offset-md-1">
                            <div class="slidecontainer w-75 ">
                                <input type="range" min="2" max="250" value="140" class="slider" id="myRange" />
                                <p>Number of generation : <span id="demo"></span></p>
                            </div>
                        </div>
                        <div class="col-md-7 offset-md-1">
                            <form id="form" action="/generate" method="post">
                                <div class="form-group">
                                    <label for="nbreGroups">Desired number of group</label>
                                    <input id="nbreGroups" class="form-control" type="number" step="1" name="group" required />
                                </div>
                                <input type="hidden" id="tab" name="tab" />
                                <input type="hidden" id="slidebar" name="slidebar" />
                                <button type="submit" class="btn btn-primary">Generate</button>
                                <i id="spin" class="fa fa-spinner w3-spin" style="font-size:20px;display:none"></i>
                            </form>
                            <p style="color:red">{{error}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:40px">
        <div class="row justify-content-center">
            <h2>Learn more about this genetic algorithm</h2>
        </div>
        <div class="row">
            <p>Keywords :</p>
        </div>
        <div class="row">
            <ul>
                <li>Specimen : it represents an object with specific attributes. In our case, it is represented by a list of students with specific attribution to a group for each student.</li>
                <li>Population : it represents the number of specimens. </li>
                <li>Generation : it represents the number of reproduction of the population. The first parents will be the generation 0, their children will represent the generation 1 and so on.</li>
                <li>Selection : it represents how you will define the elite of the population.</li>
                <li>Reproduction : from the selected population you will make next generation based on them.</li>
            </ul>
        </div>
        <div class="row">
            <p>This genetic algorithm has a started population of 256 specimens, it's a power of 2 because I chose to make a selection by tournament. Two specimens are taken randomly and will be
            in competition, only one will be chosen according to predefined criteria. There is more than one type of selection, I tried an elitist one which just kept the first half of the population.
            However, the problem was that the population tended to look alike to each others. Selection by tournament show more diversity and has better results in the long run.
            </p>
        </div>
        <div class="row">
            <p>After selecting the half of the population, I reproduce them to reach the initial population number.
            I used two types of reproduction. One is to mutate a part of the elite population by giving birth to
            a new generation with small variation. The second one was to mix two specimens into one : you can
            imagine an DNA and taking the first part of one to combine to the second DNA.
            You repeat the operation untill you get a satisfactory result. You will maybe not
            find the best solution but you will get a greater solution.
            </p>
        </div>
        <div class="row justify-content-center">
            <h3>Checking the performance with Kibana</h3>
        </div>
        <div class="row">
            <p>
                Having good result on one try wasn't enough to ensure the performance of my algorithm. Thus, I indexed 100 tries results on ElasticSearch and made some visualisations
                 on Kibana. The evaluation of a specimen was to measure the gap between the highest group average with the lowest group average. Lowest was the gap, better was the evaluation.
                You can see below a graph showing the gap average according to ascending generation. After the 100th generation the gap of averages is under 0.1.
            </p>
        </div>
    </div>
    <div class="container mb-3" style="margin-top:30px;">
        <div class="row row justify-content-center">
            <h4>Graph showing the evolution of the solution through the generations</h4>
        </div>
        <div class="row">
            <img src="static/images/graph.png"  class="mx-auto d-block border border-light rounded" style="max-height: 500px" alt="" />
        </div>
    </div>



    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    <!-- Bootrap table -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


</body>
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
$('#form').submit(function() {
    document.getElementById("slidebar").value = document.getElementById("myRange").value ;
    document.getElementById("spin").style.display = "";
    return true;
});
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script>
        var monTableau = Array();
        var monTableauActive = Array();
        var arrayMaxValue = 5;

        var monTableauId = 0;
        var monTableauActiveId = 0;
        var page = 0;

        var actualPage = 0;

        function addTab() {
            if (monTableauActive.length % 5 != 0 || monTableauActive.length == 0){
                $("#ajoute").append("<tr id='"+ monTableauId +"'><td>" + document.getElementById("prenom").value+ "</td><td>" + document.getElementById("note").value
                + "</td><td><button class='btn btn-danger fa fa-trash btn-sm' onclick='deleteTab(" + monTableauId + ")'></td></tr>");
                if(page != actualPage){
                    document.getElementById(monTableauId).style.display = "none";
                }
            }
            else{
                for(var i = actualPage * arrayMaxValue; i < actualPage * arrayMaxValue + arrayMaxValue; i ++){
                    document.getElementById(monTableauActive[i]).style.display = "none";
                }
                page = page +1;
                actualPage = page;
                $("#ajoute").append("<tr id='"+ monTableauId +"'><td>" + document.getElementById("prenom").value+ "</td><td>" + document.getElementById("note").value
                + "</td><td><button class='btn btn-danger fa fa-trash btn-sm' onclick='deleteTab(" + monTableauId + ")'></td></tr>");
                $("#buttonTab").prepend("<button id='page_"+ page +"' type='button' onclick='showPage("+ page +")' class='p-2 btn btn-primary' active>" + (page +1 ) + "</button>");

            }

            monTableauActive.push(monTableauId);

            monTableau.push(document.getElementById("prenom").value);
            monTableau.push(document.getElementById("note").value);
            document.getElementById("tab").value = monTableau;
            monTableauId = monTableauId + 2;
            var json_string = JSON.stringify(monTableau);
        }

        function showPage(pageValue){
            if(pageValue != actualPage){

                var pageFull = monTableauActive.length % 5;
                if(pageFull == 0){
                    pageFull = 5;
                }
                if(pageValue == page){
                    for(var a = pageValue * arrayMaxValue ; a < pageValue * arrayMaxValue + pageFull ; a ++){
                        document.getElementById(monTableauActive[a]).style.display = "";
                    }
                }
                else{
                    for(var b = pageValue * arrayMaxValue; b < pageValue * arrayMaxValue + arrayMaxValue; b ++){
                        document.getElementById(monTableauActive[b]).style.display = "";
                    }
                }

                if(actualPage == page){
                    for(var c = (actualPage * arrayMaxValue) ; c < (actualPage * arrayMaxValue + pageFull) ; c ++){
                        document.getElementById(monTableauActive[c]).style.display = "none";
                    }
                }
                else{
                    for(var d = actualPage * arrayMaxValue; d < actualPage * arrayMaxValue + arrayMaxValue; d ++){
                        document.getElementById(monTableauActive[d]).style.display = "none";
                    }
                }
                actualPage = pageValue;


            }
        }


        function deleteTab(intValue) {
            var index_mon_Tableau_active = monTableauActive.indexOf(intValue)
            var index_mon_Tableau = index_mon_Tableau_active * 2;

            var lastPage = page - 1

            $('#' + intValue).fadeOut(300, function(){ $(this).remove();})

            monTableau.splice(index_mon_Tableau,2);
            monTableauActive.splice(index_mon_Tableau_active,1);

            document.getElementById("tab").value = monTableau;



            if(monTableauActive.length % arrayMaxValue == 0){
                if(page != 0){
                    document.getElementById("page_" + page).remove();


                    if(actualPage == page){
                        actualPage = page - 1;
                        for(var x = actualPage * arrayMaxValue; x < actualPage * arrayMaxValue + arrayMaxValue; x++ ){
                            document.getElementById(monTableauActive[x]).style.display = "";
                        }
                    }

                    page = page - 1;
                }

            }

        }
	</script>
</html>