<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
    <style>
        hr.style-one {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }</style>
</head>
<body style="font-family:Gill Sans, sans-serif">
    {% include 'navbar.html' %}

    <div class="container mb-3" style="padding-top:100px;padding-bottom:20px">
        <div class="row justify-content-center">
            <h1>Results</h1>

        </div>
        <div class="row justify-content-center">
            <p>Classroom average : {{classe.average}} & generation : {{classe.generation}}</p>

        </div>
    </div>
    <div class="container mt-3 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                    {% for group in groups %}
                        <div class="col-md-4">
                            <h5>Group {{group.id}} average : {{group.average}}</h5>
                            <table id="myTable" class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Mark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in group.students %}
                                    <tr>
                                        <td>{{student.name}}</td>
                                        <td>{{student.average}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>