<!DOCTYPE html>
<html lang="en">
<head>
    <title>Studies</title>
</head>
<body style="padding-top:140px;font-family:Gill Sans, sans-serif">
    {% include 'navbar.html' %}
    <div class="container" >
        <div class="row" style="padding-top:10px">
            <div class="col-md-2 align-self-center d-none d-md-flex">
                <img src="static/images/genetic.jpg" class="rounded-circle" style="max-height:92.91px" />
            </div>
            <div class="col-1 d-none d-lg-flex">
            </div>
            <div class="col-md-7 offset-md-2 offset-lg-0 col-12 align-self-center" style="border-bottom:1px solid #e4e6e8">
                <h2 class="text-center">Genetic algorithm</h2>
                <p>Group students in multiple groups with the same average mark.</p>
                <p class="text-right"><a href="/genetic"><i class="fa fa-arrow-circle-o-right" style="font-size:35px;color:black"></i> </a></p>
            </div>
        </div>



        <div class="row" style="padding-top:60px">
            <div class="col-md-2 align-self-center d-none d-md-flex">
                <img src="static/images/visualisation.jpg" class="rounded-circle" style="max-height:92.91px" />
            </div>
            <div class="col-1 d-none d-lg-flex">
            </div>
            <div class="col-md-7 offset-md-2 offset-lg-0 col-12 align-self-center" style="border-bottom:1px solid #e4e6e8">
                <h2 class="text-center">Visualisation</h2>
                <p>Coming soon ...</p>
                <p class="text-right"><a href="/"><i class="fa fa-arrow-circle-o-right" style="font-size:35px;color:black"></i> </a></p>
            </div>
        </div>
    </div>


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
</body>
</html>