<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page d'accueil</title>

    <!-- icon w3school -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body style="padding-top:140px;font-family:Bree Serif, Georgia, serif;">
        <nav class="navbar fixed-top navbar-dark bg-dark">
        <a href="/"><img src="static/images/ep.png" style="max-width: 60px;padding-left:10px"/></a>

        <ul class="navbar-nav flex-row d-none d-md-flex">
            <li class="align-self-center nav-item">
                <a class="nav-link p-2" href="https://www.linkedin.com/in/edwyn-peignon-06520b91/" target="_blank">
                    <i class="fa fa-linkedin-square fa-inverse fa-2x"></i></a>
            </li>
            <li class="align-self-center nav-item">
                <a class="nav-link p-2" href="#"><i class="fa fa-git-square fa-inverse fa-2x"></i></a>
            </li>
            <li class="align-self-center nav-item active">
                <a class="p-2" href="/studies" style="color:white">Personnal studies</a>

            </li>
            <li class="align-self-center nav-item active">
                <a class="p-2" href="/contact" style="color:white">Contact me</a>
            </li>
        </ul>
        <button class="navbar-toggler collapsed d-flex d-md-none" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="p-2" href="/studies" style="color:white">Studies</a>
                </li>
                <li class="nav-item active">
                    <a class="p-2" href="/contact" style="color:white">Contact me</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link"><a class="p-2" href="https://www.linkedin.com/in/edwyn-peignon-06520b91/" target="_blank">
                        <i class="fa fa-linkedin-square fa-inverse fa-2x"></i></a><a class="p-2" href="#">
                        <i class="fa fa-git-square fa-inverse fa-2x"></i></a></span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" >
        <div class="row" style="padding-top:10px">
            <div class="col-md-2 align-self-center d-none d-md-flex">
                <img src="static/images/genetic.jpg" class="rounded-circle" style="max-height:92.91px" />
            </div>
            <div class="col-1 d-none d-lg-flex">
            </div>
            <div class="col-md-7 offset-md-2 offset-lg-0 col-12 align-self-center" style="border-bottom:1px solid #e4e6e8">
                <h2 class="text-center">Genetic algorithm</h2>
                <p>Comming soon ... </p>
                <p class="text-right"><a href="/"><i class="fa fa-arrow-circle-o-right" style="font-size:35px;color:black"></i> </a></p>
            </div>
        </div>



        <div class="row" style="padding-top:60px">
            <div class="col-md-2 align-self-center d-none d-md-flex">
                <img src="static/images/visualisation.jpg" class="rounded-circle" style="max-height:92.91px" />
            </div>
            <div class="col-1 d-none d-lg-flex">
            </div>
            <div class="col-md-7 offset-md-2 offset-lg-0 col-12 align-self-center" style="border-bottom:1px solid #e4e6e8">
                <h2 class="text-center">Visualisation</h2>
                <p>Comming soon ...</p>
                <p class="text-right"><a href="/"><i class="fa fa-arrow-circle-o-right" style="font-size:35px;color:black"></i> </a></p>
            </div>
        </div>
    </div>


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
</body>
</html>